<div class="row">
  <div class="col-sm-9">

    <p>Hey I'm Jordy.</p>
    <p>I'm a UX designer working at <%= link_to "SecondMarket", "http://secondmarket.com" %> in NYC.</p>
    <p>I graduated in August 2012 with a Masters degree in Human-Computer Interaction from Carnegie Mellon University.</p>
    <p>Feel free to <%= mail_to "jayzed@gmail.com", "email me" %> or connect with me on <%= link_to "LinkedIn", "http://www.linkedin.com/profile/view?id=143149437" %>.</p>

    <p>Other things I like:....</p>

    <h3>About this portfolio</h3>
    <ul>
      <li>Made in Ruby on rails (source)</li>
    </ul>
    <p>Text Text Text</p>

  </div>

  <div class="col-sm-3">
    <%= image_tag "me.jpg", class: "img-responsive" %>
  </div>

</div>
