<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Divvy</h1>
    <p>A mobile application to help parents manage their kids carpool schedules, and also gives the parents security that their child arrived safely.</p>
    
    <h2>Selected Process</h2>
    <p>
      We began the need-finding process by conducting interviews  with a couple of parentsand found that managing carpool schedules is a difficult task. 
      Moreover, parents wanted more information about where their kids are, but did not want to be obtrusive. We then constructed two personas 
      to clarify who we were designing for. 
    </p>

    <hr class="space">
    <%= image_tag "divvy-paper-prototypes.png", class: "img-responsive" %>
    <hr class="space">

    <h3>Wireframing and Iteration</h3>
    <p>
      With all that in mind, we came up with preliminary wireframes on a whiteboard, then transferred it to a paper prototype. 
      We then conducted think-aloud studies on the paper prototype to see where we could still improve. 
      The design was then iterated upon a number of times, both to increase usability and enhance the visual design.
      We began with a paper prototype, moved to an interactive prototype in Axure, and then did a number of iterations in Photoshop before arriving at the final design. 
    </p>

    <%= image_tag "divvy-evolution.png", class: "img-responsive" %>
    <hr class="space">
    
    <div class=" small">
      <h6>Project Details</h6>
      <p>Date: Spring 2012</p>
      <p>Class: Interaction Design Studio</p>
      <p>Team: Linda Le, Nir Rachmel</p>
    </div>


  </div>
</div>