<h1>Frontier</h1>
<%= link_to "Project Website", "#", class: "small" %>

<hr class="space">
<p>This was the capstone project for my Masters degree. Our team worked with our clients from Bank of America to investigate interactions and behaviors within households to see where Bank of America could translate and expand their offerings in order to design a collaborative, multi-device television experience.</p>

<p>During the Spring semester we conducted extensive user research and analysis, and we used that data in the summer semester to design a high fidelity prototype.</p>

<hr class="space">
<%= image_tag "frontier-affinity.jpg" %>
<hr class="space">
<div class=" small">
  <h6>Project Details</h6>
  <p>Date: Spring - Summer 2012</p>
  <p>Client: Bank of America</p>
  <p>Lauryn Fantano, Rohan Gaikwad, Almas Tuyakbayev, Ying Zhang</p>
</div>

