<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Frontier</h1>
    
    <hr class="space">
    <p>This was the capstone project for my Masters degree. Our team worked with our clients from Bank of America to investigate interactions and behaviors within households to see where Bank of America could translate and expand their offerings in order to design a collaborative, multi-device television experience.</p>
    
    <p>During the Spring semester we conducted extensive user research and analysis, and we used that data in the summer semester to design a high fidelity prototype.</p>
    
    <p>The details of our research findings and the final design are covered by a non-disclosure agreement. For more information, please visit the     <%= link_to "Project Website", "http://www.hcii.cmu.edu/M-HCI/2012/frontier/" %>.</p>


    <hr class="space">
    <%= image_tag "frontier-affinity.jpg", class: "img-responsive" %>
    <hr class="space">

    <div class="small">
      <h5><strong>Project Details</strong></h5>
      <div>Date: Spring - Summer 2012</div>
      <div>Client: Bank of America</div>
      <div>Team: Lauryn Fantano, Rohan Gaikwad, Almas Tuyakbayev, Ying Zhang</div>
    </div>

  </div>
</div>