<div class="row">
  <!-- First Column -->
  <div class="col-sm-4">
    <div class="portfolio-item">
      <%= link_to image_tag("http://placehold.it/360x200", class: "img-responsive"), secondmarket_path %>
      <%= link_to "SecondMarket", secondmarket_path, class: 'portfolio-item-title' %>
      <div class="portfolio-item-description">Description</div>
    </div>
  </div>
  <!-- End First Column -->

  <!-- Second Column -->
  <div class="col-sm-4">
    <div class="portfolio-item">
      <%= link_to image_tag("http://placehold.it/360x200", class: "img-responsive"), frontier_path %>
      <%= link_to "Frontier", frontier_path, class: 'portfolio-item-title' %>
      <div class="portfolio-item-description">Bank of America Capstone Project</div>
    </div>
  </div>
  <!-- End Second Column -->

  <!-- Third Column -->
  <div class="col-sm-4">
    <div class="portfolio-item">
      <img src="http://placehold.it/360x200" class="img-responsive">
      <h4 class="portfolio-item-title">Frontier</h4>
      <div class="portfolio-item-description">Bank of America Capstone Project</div>
    </div>
  </div>
  <!-- End Third Column -->
</div>
