<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Plan it</h1>
    <p>
      Plan-It is an application to help plan dinner menus. It was an individual project designed to practice 
      various HCI methodologies.
    </p>

    <h2>Selected Process</h2>
    <h3>Research & Synthesis</h3>
    <p>
      I conducted Contextual Inquiries with 3 people who were experts at planning meals to see how the process 
      is done and where the breakdowns are. One major finding was that expert meal planners start planning with 
      a meal structure in mind while less experienced people do not. Some breakdowns included not knowing the 
      right quantity of food to make, and forgetting ingredients when going to the store.
    </p>

    <%= image_tag "planit-affinity.jpg", class: "img-responsive" %>
    
    <h3>Visualizing a Solution</h3>
    <p>
      Before making the interactive prototype, I created a storyboard to show the scenario of use where 
      the app would be used. This was helpful to begin visualizing how the prototype would look. 
    </p>

    <%= image_tag "planit-storyboard.jpg", class: "img-responsive" %>
    <hr class="space">
    
    <h3>Flex Prototype</h3>
    <p>
      I then created an interactive prototype in Flex to test the idea, and also conducted several Think-Aloud studies to improve the overall usability.
    </p>

    <%= image_tag "planit-screenshot.jpg", class: "img-responsive" %>

    <div class=" small">
      <h6>Project Details</h6>
      <p>Date: Fall 2011</p>
      <p>Class: User-Centered Design & Evaluation</p>
      <p>Skills: Competitive Analysis, Contextual Inquiries, Affinity Diagramming, Think-Aloud Testing, Storyboarding, Interaction Design</p>
    </div>

  </div>
</div>