<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Scout</h1>
    <p>A people discovery application for professionals at meetings and conferences.</p>
    


    <hr class="space">
    <div class=" small">
      <h6>Project Details</h6>
      <p>Date: Spring 2012</p>
      <p>Client: Designing Mobile Services</p>
      <p>Team: Brittany Hamtil, Faye Han, Linda Le and Eli Rosen </p>
    </div>

  </div>
</div>