<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>SecondMarket Homepage Redesign</h1>
    <%= link_to "SecondMarket", "https://www.secondmarket.com", class: "small" %>
    
    <h2>Background</h2>
    <p>
      From October 2013 to February 2014 we went through a homepage redesign process at SecondMarket.
      We noticed that for some time, people external to the company don't know what we do because we
      have gone through a major pivot over the last few years. This poor external understanding of what the company does
      lead to a lot of poor leads and wasted effort in trying to reeducate people about us. We wanted to 
      adjust the copy and Information Architecture of the site so that the site clearly explains what we currently do.
      The new version was released in early February 2014.
    </p>

    <h2>Selected Process</h2>

    <h2>My Role</h2>
    <p>
      I was in charge of the homepage redesign process along with the product manager and the VP of technology.
      *****ADD STUFF HERE****
    </p>

    <h2>Things I learned</h2>
    <ol>
      <li>
        <strong>Need to decide upon goals and success metrics upfront with all key stakeholders</strong>
        <p>
          Bringing all the key stakeholders together to discuss this upfront was a key factor in the design process.
        </p>
      </li>

      <li>
        <strong>Copy can quickly get stale</strong>
        <p>
          Need to make sure that copy stays consistent with what the product/company does so that...
        </p>
      </li>
    </ol>



    <div class="small">
      <h6>Project Details</h6>
      <p>Date: Winter 2013 - Spring 2014</p>
      <p>Skills: Stakeholder Interviews, Wireframing, User Testing</p>
    </div>

  </div>
</div>