<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>SecondMarket Hub</h1>
    <%= link_to "SecondMarket", "https://www.secondmarket.com", class: "small" %>
    
    <h2>Background</h2>
    <p>
      While building the <%= link_to "checkout product", secondmarket_checkout_path %>, we noticed that companies and funds wanted an easier way 
      more communicate to their investors to let them know how things were going. This communication includes both updates and documents.
    </p>

    <h2>My Role</h2>
    <p>
      I have been the lead UX designer on this product from April 2013. I was involved from the very initial stages
      of product discovery to the ongoing research, prototyping, and usability testing.
      The hub is completely responsive and utilizes the bootstrap framework.
    </p>
    

    <h2>The Product</h2>
    <p>
      The SecondMarket Hub is a self-serve product for companies and funds to distribute updates and documents to their investors.
      It includes a blog-style updates page for users to send updates that can be specific to a group of people, and a way
      to bulk-upload documents.
    </p>

    <hr class="space">

    <div id="hub-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#hub-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hub-carousel" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "hub-first.jpg", class: "img-responsive" %>

          <div class="carousel-caption">
            First Drawing
          </div>
        </div>
        <div class="item">
          <%= image_tag "hub-updates.png", class: "img-responsive" %>

          <div class="carousel-caption">
            Current Version
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#hub-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#hub-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

    <hr class="space">


    <h2>Key Takeaway</h2>
    <hr class="space">
    <ul>
      <li>
        <strong>Words Matter</strong>
        <p>
          Users want to make sure that information (especially sensitive information), is destributed to the right people.
          Having clear text helps the user feel more secure that they aren't making a mistake. 
        </p>
      </li>
    </ul>    


  </div>
</div>