<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Statusphere</h1>
    <hr class="space">
    
    <iframe class="video" src="http://player.vimeo.com/video/41453519?title=0&amp;byline=0&amp;portrait=0" frameborder="0"></iframe>
    
    <div class=" small">
      <h6>Project Details</h6>
      <p>Date: Spring - Summer 2012</p>
      <p>Class: Interaction Design Studio</p>
      <p>Team: Rajat Agrawal, Joe Medwid</p>
    </div>

  </div>
</div>