hr.space {
  background: none repeat scroll 0 0 #fff;
  color: #fff;
  visibility: hidden;
}

.portfolio-item {
  margin-bottom: 50px;
}

.portfolio-item-title {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}