//Web Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);

//Bootstrap override variables
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 18px;

$navbar-default-bg: #FFFFFF;
$navbar-default-border: 0;
$navbar-default-brand-color: #000000;

//Frameworks
@import "bootstrap";
@import "font-awesome";

hr.space {
  background: none repeat scroll 0 0 #fff;
  color: #fff;
  visibility: hidden;
}


a {
  
  i {
     color: #333333;
  }
 
  &:hover {
    text-decoration: none;
  }
}


.portfolio-item {
  @include make-sm-column(4);
  margin-bottom: 50px;
}

.portfolio-item-title {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}

.portfolio-item-description{
  font-size: 14px;
}