<hr class="space">
<footer class="container">
  <hr>
  
  <div class="pull-left">
    <span class="small">Designed and built in Rails by Jordy Zagdanski, 2014</span>
  </div>

  <div class="pull-right">

  <%= mail_to "jayzed@gmail.com" do %>
     <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </span>
  <% end %>


  <%= link_to "http://www.linkedin.com/profile/view?id=143149437" do %> 
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
  <% end %>

  <%= link_to "https://github.com/jayzed", target: "_blank" do %>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
  <% end %>

  </div>
</footer>
