<hr class="space">
<footer class="container">
  <hr>
  
  <div class="pull-left">
    <span class="small">Designed and built in Rails by Jordy Zagdanski, 2014</span>
  </div>

  <div class="pull-right">
   <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
  </span>

  <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
  </span>

  <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
  </span>
</div>
</footer>
